{{- $publisherType := (site.Params.schema.publisherType | default "Person") | title -}}
{{- $authorName := site.Params.author | default site.Title -}}
{{- $langCode := .Language.LanguageCode | default .Language.Lang | default "en" -}}
{{- $homeDescription := or site.Params.seo.homeDescription (.Param "description") site.Params.description site.Title -}}
{{- $logoURL := "" -}}
{{- with site.Params.assets.favicon -}}
  {{- $logoURL = . | absURL -}}
{{- end -}}

{{- $sameAs := slice -}}
{{- with site.Params.schema.sameAs -}}
  {{- range . -}}
    {{- $sameAs = $sameAs | append . -}}
  {{- end -}}
{{- else -}}
  {{- range site.Params.socialIcons -}}
    {{- $url := trim .url " " -}}
    {{- if or (hasPrefix $url "https://") (hasPrefix $url "http://") -}}
      {{- $sameAs = $sameAs | append $url -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- $publisherName := cond (eq $publisherType "Person") $authorName site.Title -}}

{{- if .IsHome -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": {{ $publisherType }},
  "name": {{ $publisherName }},
  "url": {{ site.Home.Permalink }},
  "description": {{ $homeDescription | plainify | htmlUnescape | chomp }},
  "sameAs": {{ $sameAs | jsonify | safeJS }}{{ if and $logoURL (eq $publisherType "Person") }},
  "image": {{ $logoURL }}{{ else if and $logoURL (eq $publisherType "Organization") }},
  "logo": {{ $logoURL }}{{ end }}
}
</script>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": {{ site.Title }},
  "url": {{ site.Home.Permalink }},
  "description": {{ $homeDescription | plainify | htmlUnescape | chomp }},
  "inLanguage": {{ $langCode }},
  "publisher": {
    "@type": {{ $publisherType }},
    "name": {{ $publisherName }}{{ if and $logoURL (eq $publisherType "Organization") }},
    "logo": {
      "@type": "ImageObject",
      "url": {{ $logoURL }}
    }{{ end }}
  }
}
</script>
{{- else if or .IsPage .IsSection -}}
  {{- $breadcrumbItems := slice -}}
  {{- if .Parent -}}
    {{- $url := replace .Parent.Permalink (printf "%s" site.Home.Permalink) "" -}}
    {{- $langURL := strings.TrimPrefix (printf "%s/" .Lang) $url -}}
    {{- $segments := split $langURL "/" -}}
    {{- $scratch := newScratch -}}
    {{- range $segments -}}
      {{- if gt (len .) 0 -}}
        {{- $scratch.Add "path" (printf "%s/" .) -}}
        {{- $bcPage := site.GetPage ($scratch.Get "path") -}}
        {{- if $bcPage -}}
          {{- $breadcrumbItems = $breadcrumbItems | append (dict
            "@type" "ListItem"
            "position" (add (len $breadcrumbItems) 1)
            "name" $bcPage.Name
            "item" $bcPage.Permalink
          ) -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
  {{- $breadcrumbItems = $breadcrumbItems | append (dict
    "@type" "ListItem"
    "position" (add (len $breadcrumbItems) 1)
    "name" .Name
    "item" .Permalink
  ) -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": {{ $breadcrumbItems | jsonify | safeJS }}
}
</script>

  {{- if .IsPage -}}
    {{- $description := or (.Description | plainify | htmlUnescape | chomp) (.Summary | plainify | htmlUnescape | chomp) -}}
    {{- $keywords := slice -}}
    {{- with .Params.keywords -}}
      {{- range . -}}
        {{- $keywords = $keywords | append . -}}
      {{- end -}}
    {{- else -}}
      {{- with .Params.tags -}}
        {{- range . -}}
          {{- $keywords = $keywords | append . -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}

    {{- $authorValue := .Params.author | default site.Params.author -}}
    {{- $author := dict "@type" "Person" "name" $authorValue -}}
    {{- if or (eq (printf "%T" $authorValue) "[]string") (eq (printf "%T" $authorValue) "[]interface {}") -}}
      {{- $authors := slice -}}
      {{- range $authorValue -}}
        {{- $authors = $authors | append (dict "@type" "Person" "name" .) -}}
      {{- end -}}
      {{- $author = $authors -}}
    {{- end -}}

    {{- $imageValue := "" -}}
    {{- if .Params.cover.image -}}
      {{- if ne .Params.cover.relative true -}}
        {{- $imageValue = .Params.cover.image | absURL -}}
      {{- else -}}
        {{- $imageValue = (path.Join .RelPermalink .Params.cover.image) | absURL -}}
      {{- end -}}
    {{- else -}}
      {{- $images := partial "templates/_funcs/get-page-images" . -}}
      {{- with index $images 0 -}}
        {{- $imageValue = .Permalink -}}
      {{- end -}}
    {{- end -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": {{ .Title | plainify | htmlUnescape | chomp }},
  "name": {{ .Title | plainify | htmlUnescape | chomp }},
  "description": {{ $description }},
  "keywords": {{ $keywords | jsonify | safeJS }},
  "articleBody": {{ .Plain | plainify | htmlUnescape | chomp }},
  "wordCount": {{ .WordCount }},
  "inLanguage": {{ $langCode }},
  "datePublished": {{ .PublishDate.Format "2006-01-02T15:04:05Z07:00" }},
  "dateModified": {{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }},
  "author": {{ $author | jsonify | safeJS }},
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": {{ .Permalink }}
  },
  "publisher": {
    "@type": {{ $publisherType }},
    "name": {{ $publisherName }}{{ if and $logoURL (eq $publisherType "Organization") }},
    "logo": {
      "@type": "ImageObject",
      "url": {{ $logoURL }}
    }{{ end }}
  }{{ with $imageValue }},
  "image": {{ . }}{{ end }}
}
</script>
  {{- end -}}
{{- end -}}
